@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container {
    float: right;
    grid-template-columns: auto auto auto auto;
    grid-gap: 900px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 80px;
  }
  
  header li {
      display: grid;
      float: right;
      margin-left: 30px;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 240px;
    background-color:  #e6f2ff;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: white;
    color: black;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: white;
    color: black;
  }
  
  div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 500px;
  }

  div.alert-info {
    margin-top: 10px;
    padding: 30px;
    text-align: center;
  }

  h2 {
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
  }

  h3 {
    border-bottom: 3px solid#FFD500;
    margin-bottom: 28px;
  }

  div a {
    font-size: 20px;
  }

  .table {
    margin-bottom: 100px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: auto;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

        