@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #ffffff;
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: right;
}

/* header {
    display: inline;
} */

header {
    background-color: rgb(43, 35, 35);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(14, 13, 13);
  }

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #00a2c6;
    margin-left: 75%;
}

nav a:hover {
    font-weight: bold;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e6f2ff;
}

.sidebar a {
    padding: 10px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #0073e6;
    display: block;
}

.sidebar a:hover {
    font-weight: bold;
    color: white;

}

img {
    padding-bottom: 50px;
}

